/*** MIXINS ***/

@mixin large-cursive($size){
	font-size: $size;
}

@mixin medium-cursive($size){
	font-size: $size;
}

@mixin small-cursive($size){
	font-size: $size;
}

@mixin link-button($color){
	color: $color;
	border: 2px solid $color;
}

@mixin opacity($opacity){
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}