/*** VARIABLES ***/

$gray: #3e454c;
$light-gray: #6F7478;
$white: #ffffff;
$blue1: #193b60;
$blue2: #2185c5;
$coral1: #ff7f66;
$coral2: #fc543d;
$coral3: #e03e32;
$cream: #fff6e5;
$cream2: #FEEDD0;
$cream3: #EDDEC1;
$coral1-hover: #ef6b59;

$cursive: 'brayden', sans-serif;
$sans-head: 'governor', sans-serif;
$bodyfont: 'Open Sans', sans-serif;

$home-head-height: 615px;

